@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

:root {
  --background: #F7F2E2;
  --foreground: #171717;
  --green : #153c09;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-green: var(--green);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #F7F2E2;
  }
}

.fontext{
  color: #1f500f;
}


.cliking {
  position: relative;
  
  color: #1f500f; /* normal color */
  font-weight: 600;
  transition: color 0.3s ease, transform 0.3s ease;
}

/* Hover effect */
.cliking:hover {
  color: #f54f02;
  transform: scale(1.05); /* subtle zoom on hover */
}

/* Stylish underline for hover and active */
.cliking::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0%;
  height: 3px;
  background:  #f54f02;
  border-radius: 5px;
  transition: width 0.4s ease, transform 0.4s ease;
  transform-origin: right;
}

/* Hover animation */
.cliking:hover::after {
  width: 100%;
  transform-origin: left;
}

/* Active effect */
.cliking.active {
  color: #f54f02;
}

.cliking.active::after {
  width: 100%;
  transform-origin: left;
}


body {
  background: var(--background);
  color: var(--foreground);
   font-family: "Urbanist", sans-serif;
}









/* btn */
/* From Uiverse.io by Matilemak */ 
.animated-button {
  position: relative;
  display: flex;
 
  gap: 4px;
  padding: 16px 36px;
 
  
  
  font-size: 16px;
  background-color: #37941b;
  border-radius: 20px;
  font-weight: 800;
  text-align: center;
  color: white;
  
  cursor: pointer;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button svg {
  position: absolute;
  width: 24px;
  fill: #1e1e1e;
  z-index: 9;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button .arr-1 {
  right: 16px;
}

.animated-button .arr-2 {
  left: -25%;
}

.animated-button .circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  background-color: #fd8a26;
  border-radius: 50%;
  opacity: 0;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button .text {
  position: relative;
  z-index: 1;
  transform: translateX(-12px);
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button:hover {
  box-shadow: 0 0 0 12px transparent;
  color: #1e1e1e;
  border-radius: 12px;
}

.animated-button:hover .arr-1 {
  right: -25%;
}

.animated-button:hover .arr-2 {
  left: 16px;
}

.animated-button:hover .text {
  transform: translateX(12px);
}

.animated-button:hover svg {

}

.animated-button:active {
  scale: 0.95;
  box-shadow: 0 0 0 4px #fd8a26;
}

.animated-button:hover .circle {
  width: 220px;
  height: 220px;
  opacity: 1;
}



